@import "~bootstrap/scss/bootstrap.scss";

@import "./partials/header.scss";
@import "./partials/footer.scss";

// HOME

.ms_red {
    color: red;
    font-weight: bold;
}

.discount {
    background-color: lightcoral;
    color: white;
    padding: 4px;
    position: absolute;
    left: 0;
    top: 60%;

}

.detail {
    background-color: greenyellow;
    color: black;
    padding: 4px;
    position: absolute;
    left: 0;
    top: 65%;
}
// HOVER IMG

.ms_image {
    position: relative;
    width: 100%;
    height: auto;
}

.ms_image .card-img {
    width: 100%;
}

.ms_image .back {
    display: none;
}

.ms_image:hover .front {
    display: none;
}

.ms_image:hover .back {
    display: block;
}
